body{margin:0;}

.object1,.object2,.object3,.object4{
		position:absolute;
		width:100px;
		height:100px;
		bottom:-150px;
		background: transparent;
		-webkit-animation: mymove2 5s linear infinite;
}

.object1{left:50%;}
.object2{left:10%;-webkit-animation-delay:0.3s;}
.object3{left:25%;-webkit-animation-delay:2s;}
.object4{left:85%;-webkit-animation-delay:1s;}


.object5,.object6,.object7,.object8{
		position:absolute;
		width:250px;
		height:250px;
		background:transparent;
		bottom:-250px;
		-webkit-animation: mymove2 5s linear infinite;	
}

.object5{left:0%;}
.object6{left:15%;-webkit-animation-delay:2.2s;}
.object7{left:35%;-webkit-animation-delay:0.5s;}
.object8{left:77%;-webkit-animation-delay:1.4s;}


.object9,.object10{
		position:absolute;
		width:300px;
		height:300px;
		background:transparent;
		bottom:-250px;
		border-radius:50%;
		-webkit-animation: mymove3 6s linear infinite;	
}

.object9{left:3%;}
.object10{left:88%;-webkit-animation-delay:0s;}


.object11{
		position:absolute;
		width:300px;
		height:300px;
		background:transparent;
		bottom:-400px;
		-webkit-animation: mymove3 6s linear infinite;
}

.object11{left:55%;}


@-webkit-keyframes mymove2{
	
	0%{	transform:rortate(0deg);opacity:1;}
	100%{transform:rotate(540deg);opacity:0;bottom:340px;}
	}

@-webkit-keyframes mymove3{
	
	0%{	transform:rortate(0deg);opacity:1;}
	100%{transform:rotate(720deg);opacity:0;bottom:540px;}
	}

@-webkit-keyframes mymove4{	
	0%{	transform:rortate(0deg);opacity:1;}
	100%{transform:rotate(720deg);opacity:0;bottom:540px;}
	}

@-webkit-keyframes mymove5{	
	0%{	opacity:1;}
	100%{opacity:0;bottom:540px;}
	}